#contenitore-tabella-classifica tbody tr h3 {
    padding-top: 0;
    padding-bottom: 0;
}

#contenitore-tabella-classifica tbody tr td {
    background-color: #dcf1ff;
    padding-bottom: -2px;
    margin: 0px;
    border-bottom: 2px solid white;
}

#contenitore-tabella-classifica tbody tr:last-child td {
    border-bottom: 0px;
}

#contenitore-tabella-classifica tbody tr:nth-child(odd) td:first-child {
    background-color: #acdeff;
}

#contenitore-tabella-classifica tbody tr td:first-child {
    border-bottom: 2px solid #dcf1ff;
}

#contenitore-tabella-classifica td {
    height: 3rem !important;
    max-height: 3rem !important;
    text-align: center;
    border-right: 2px solid white;
}

#contenitore-tabella-classifica td:last-child {
    border: 0;
}

#contenitore-tabella-classifica td div {
    height: 2.5rem !important;
    max-height: 2.5rem !important;
}

#contenitore-tabella-classifica td p {
    font-size: small;
}

@media (min-width: 1024px) {
    #contenitore-tabella-classifica td p {
        font-size: medium !important;
    }

    #contenitore-tabella-classifica td {
        height: 4rem !important;
        max-height: 4rem !important;
    }

    #contenitore-tabella-classifica td:last-child {
        border: 0;
    }

    #contenitore-tabella-classifica td div {
        height: 3rem !important;
        max-height: 3rem !important;
    }
}

input {
    opacity: 0;
    position: relative;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle {
    position: relative;
}

label.toggle-item {
    width: 6rem;
    background: #ACDEFF;
    height: 20px;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    cursor: pointer;

    &:before {
        display: block;
        width: 2.3em;
        height: 2.3em;
        top: 0.25em;
        left: 0.25em;
        border-radius: 2em;
    }
}

.heart-rollover {
    label {
        .heart {
            position: relative;
            width: 40px;
            height: 60px;
            animation: heartbeat 1s infinite;
            margin: 0;
            bottom: .5em;
            left: -.5em;
        }

        .heart:before,
        .heart:after {
            position: absolute;
            content: "";
            left: 20px;
            top: 0;
            width: 20px;
            height: 35px;
            background: black;
            -moz-border-radius: 20px 20px 0 0;
            border-radius: 20px 20px 0 0;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 0 100%;
            -moz-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
            -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
        }

        .heart:after {
            left: 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }
}

#cuore:checked{
    +label {
        .heart {
            &:after {
                animation: colorChangeAfter .3s steps(1) 0s forwards alternate;
            }

            &:before {
                animation: colorChangeBefore .3s steps(1) 0s forwards alternate;
            }
        }
    }
}

#heart:not(.heart-selected) + label .heart:after {
    /* Stili per il cuore non selezionato quando non cliccato */
    animation: none; /* Disabilita l'animazione quando non cliccato */
}
#heart:not(.heart-selected)+ label .heart:before {
    /* Stili per il cuore non selezionato quando non cliccato */
    animation: none; /* Disabilita l'animazione quando non cliccato */
}

#cuore:not(:checked){
    +label {
        .heart {
            &:after {
                animation: colorChangeAfterReturn .3s steps(1) 0s forwards alternate;
            }

            &:before {
                animation: colorChangeBeforeReturn .3s steps(1) 0s forwards alternate;
            }
        }
    }
}

@keyframes colorChangeAfter {
    0% {
        background-color: black;
        transform: translateX(1rem) rotate(45deg);
        transform-origin: 100% 100%;
    }

    25% {
        background-color: rgb(71, 51, 51);
        transform: translateX(2rem) rotate(45deg);
        transform-origin: 100% 100%;
    }

    50% {
        background-color: rgb(133, 66, 66);
        transform: translateX(3rem) rotate(45deg);
        transform-origin: 100% 100%;
    }

    75% {
        background-color: rgb(180, 40, 40);
        transform: translateX(4rem) rotate(45deg);
        transform-origin: 100% 100%;
    }

    100% {
        background-color: red;
        transform: translateX(5rem) rotate(45deg);
        transform-origin: 100% 100%;
    }
}

@keyframes colorChangeBefore {
    0% {
        background-color: black;
        transform: translateX(1rem) rotate(-45deg);
        transform-origin: 0 100%;
    }

    25% {
        background-color: rgb(71, 51, 51);
        transform: translateX(2rem) rotate(-45deg);
        transform-origin: 0 100%;
    }

    50% {
        background-color: rgb(133, 66, 66);
        transform: translateX(3rem) rotate(-45deg);
        transform-origin: 0 100%;
    }

    75% {
        background-color: rgb(180, 40, 40);
        transform: translateX(4rem) rotate(-45deg);
        transform-origin: 0 100%;
    }

    100% {
        background-color: red;
        transform: translateX(5rem) rotate(-45deg);
        transform-origin: 0 100%;
    }
}

@keyframes colorChangeAfterReturn {
    0% {
        background-color: red;
        transform: translateX(4rem) rotate(45deg);
        transform-origin: 100% 100%;
    }

    25% {
        background-color: rgb(180, 40, 40);
        transform: translateX(3rem) rotate(45deg);
        transform-origin: 100% 100%;
    }

    50% {
        background-color: rgb(133, 66, 66);
        transform: translateX(2rem) rotate(45deg);
        transform-origin: 100% 100%;
    }

    75% {
        background-color: rgb(71, 51, 51);
        transform: translateX(1rem) rotate(45deg);
        transform-origin: 100% 100%;
    }

    100% {
        background-color: black;
        transform: translateX(0rem) rotate(45deg);
        transform-origin: 100% 100%;
    }
}

@keyframes colorChangeBeforeReturn {
    0% {
        background-color: red;
        transform: translateX(4rem) rotate(-45deg);
        transform-origin: 0 100%;
    }

    25% {
        background-color: rgb(180, 40, 40);
        transform: translateX(3rem) rotate(-45deg);
        transform-origin: 0 100%;
    }

    50% {
        background-color: rgb(133, 66, 66);
        transform: translateX(2rem) rotate(-45deg);
        transform-origin: 0 100%;
    }

    75% {
        background-color: rgb(71, 51, 51);
        transform: translateX(1rem) rotate(-45deg);
        transform-origin: 0 100%;
    }

    100% {
        background-color: black;
        transform: translateX(0rem) rotate(-45deg);
        transform-origin: 0 100%;
    }
}