tr{
    text-align: center;
}

tr:not(:last-child){
    border-bottom: 5px solid white;
}

td{
    height: 60px;
}

td:first-child{
    background-color: #ACDEFF; 
}

td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
    background-color: #DCF1FF;
}

