<header class="min-h-screen w-full">
    <app-navbar></app-navbar>
</header>
<section>
    <div class="flex justify-center h-full">
        <div class="container flex justify-center h-full">
            <div class="lg:w-[90%] w-full h-full flex flex-wrap justify-center">
                <div class="w-full h-20 bg-primary flex justify-center items-center">
                    <h2 class=" text-white text-4xl font-bold">
                        ULTIMI MATCH
                    </h2>
                </div>
                <div class="w-full h-6 bg-secondary"></div>
                <app-partite-del-giorno-preview class="w-full h-full my-10">

                </app-partite-del-giorno-preview>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="flex justify-center">
        <div class="container flex justify-center">
            <div class="lg:w-[90%] w-full  flex flex-wrap justify-center">
                <div class="w-full h-20 bg-primary flex justify-center items-center">
                    <h2 class=" text-white text-4xl font-bold">
                        CLASSIFICA
                    </h2>
                </div>
                <div class="w-full h-6 bg-secondary"></div>
                <app-classifica [isParziale]="true" class="lg:w-[85%] w-full mt-10">

                </app-classifica>
                <div class="w-full h-auto mt-10 flex justify-center items-center">
                    <button class="rounded-full bg-secondary lg:px-8 px-5 py-2 text-white font-bold text-sm lg:text-xl hover:underline" [routerLink]="['/classifica']">
                        Guarda Tutta la classifica
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="mt-20">
    <app-footer></app-footer>
</footer>