<app-navbar></app-navbar>
<section class="mb-10">
    <div class="mb-10">
        <div class="w-full h-20 bg-primary flex justify-center items-center">
            <h2 class=" text-white text-4xl font-bold">
                TABELLINO
            </h2>
        </div>
        <div class="w-full h-6 bg-secondary"></div>
    </div>
    <div class="flex justify-center">
        <div class="container w-full flex flex-wrap justify-center">
            <div class="lg:w-[75%] w-full rounded-3xl h-[40vh] flex justify-center bg-[#DCF1FF]">
                <div class="w-1/3 flex flex-wrap justify-center items-center">
                    <div class="h-1/6 w-full flex justify-center"></div>
                    <div class="h-1/4 w-full flex justify-center"><img class="hover:cursor-pointer" [routerLink]="['/squadraDetail',matchStats.calendarioDateResponse.teamIdAway]" src={{matchStats.calendarioDateResponse.logoAway}} alt="img"></div>
                    <div class="h-1/4 w-full flex justify-center items-center">
                        <p class="font-bold text-center text-2xl hover:underline hover:cursor-pointer" [routerLink]="['/squadraDetail',matchStats.calendarioDateResponse.teamIdAway]">{{matchStats.calendarioDateResponse.teamAwayName}}</p>
                    </div>
                    <div class="h-1/4 w-full flex justify-center">
                        <p class="font-bold text-xl">(1-20)</p>
                    </div>
                </div>
                <div class="w-1/3 flex flex-wrap justify-center items-center">
                    <div class="h-1/6 w-full flex justify-center items-center">
                        <p class="font-bold text-center text-xl">{{matchStats.calendarioDateResponse.gameStartDate}}</p>
                    </div>
                    <div class="h-1/4 w-full flex justify-center items-center">
                        <p class="font-bold text-center text-4xl">{{matchStats.calendarioDateResponse.scoreTeamAway}}-{{matchStats.calendarioDateResponse.scoreTeamHome}}</p>
                    </div>
                    <div class="h-1/4 w-full flex justify-center"></div>
                    <div class="h-1/4 w-full flex justify-center">
                        <div class="w-[75%] h-1/3 border-black rounded-full flex flex-nowrap justify-center">
                            <div class="w-[50%] bg-red-600 rounded-l-full"></div>
                            <div class="w-[50%] bg-blue-600 rounded-r-full"></div>
                        </div>
                    </div>
                </div>
                <div class="w-1/3 flex flex-wrap justify-center items-center">
                    <div class="h-1/6 w-full flex justify-center"></div>
                    <div class="h-1/4 w-full flex justify-center"><img class="hover:cursor-pointer" [routerLink]="['/squadraDetail',matchStats.calendarioDateResponse.teamIdHome]" src={{matchStats.calendarioDateResponse.logoHome}} alt="img"></div>
                    <div class="h-1/4 w-full flex justify-center items-center">
                        <p class="font-bold text-center text-2xl hover:underline hover:cursor-pointer" [routerLink]="['/squadraDetail',matchStats.calendarioDateResponse.teamIdHome]">{{matchStats.calendarioDateResponse.teamHomeName}}</p>
                    </div>
                    <div class="h-1/4 w-full flex justify-center">
                        <p class="font-bold text-xl">(17-3)</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-[75%] w-full flex flex-nowrap justify-between mt-5" *ngFor="let _ of quarti, let i = index">
                <div class="lg:w-[7%] w-[15%] bg-[#DCF1FF] h-12 rounded-3xl flex justify-center items-center">
                    <p class="text-xl">
                        {{quarti[i]}}°
                    </p>
                </div>
                <div class="lg:w-[42%] w-[35%]  bg-[#DCF1FF] h-12 rounded-3xl flex justify-center items-center">
                    <p class="text-xl">22</p>
                </div>
                <div class="lg:w-[42%] w-[35%]  bg-[#DCF1FF] h-12 rounded-3xl flex justify-center items-center">
                    <p class="text-xl">22</p>
                </div>
            </div>
        </div>
    </div>
    <div class="h-4 bg-secondary w-full my-10"></div>
    <div class="flex justify-center">
        <div class="container w-full flex flex-wrap justify-center">
            <div class="w-full md:w-auto flex flex-wrap md:flex-nowrap justify-center">
                <div class="w-full flex flex-wrap justify-center mb-5 lg:m-0">
                    <button class="h-14 w-[90%] md:w-40 px-4 mx-2 rounded-full bg-[#DCF1FF]" [class.bg-secondary]="tabsSelected=='teamAway'" [class.text-white]="tabsSelected=='teamAway'" (click)="tabsSelected='teamAway'">
                        {{matchStats.calendarioDateResponse.teamAwayName | uppercase}}
                    </button>
                    <div class="md:w-[60%] w-[80%] h-1 bg-secondary mt-1" *ngIf="tabsSelected==='teamAway'"></div>
                </div>
                <div class="w-full flex flex-wrap justify-center mb-5 lg:m-0">
                    <button class="h-14 w-[90%] md:w-40 px-4 mx-2 rounded-full bg-[#DCF1FF]" [class.bg-secondary]="tabsSelected=='statics'" [class.text-white]="tabsSelected=='statics'" (click)="tabsSelected='statics'">
                        CONFRONTO
                    </button>
                    <div class="md:w-[60%] w-[80%] h-1 bg-secondary mt-1" *ngIf="tabsSelected==='statics'"></div>
                </div>
                <div class="w-full flex flex-wrap justify-center mb-5 lg:m-0">
                    <button class="h-14 w-[90%] md:w-40 px-4 mx-2 rounded-full bg-[#DCF1FF]" [class.bg-secondary]="tabsSelected=='teamHome'" [class.text-white]="tabsSelected=='teamHome'" (click)="tabsSelected='teamHome'">
                        {{matchStats.calendarioDateResponse.teamHomeName | uppercase}}
                    </button>
                    <div class="md:w-[60%] w-[80%] h-1 bg-secondary mt-1" *ngIf="tabsSelected==='teamHome'"></div>
                </div>
            </div>
            <div class="lg:w-[75%] w-full h-full mt-5">
                <table class="w-full" *ngIf="tabsSelected==='teamHome' || tabsSelected==='teamAway'">
                    <thead>
                        <tr class="h-10 border-b-4 border-white">
                            <th class="w-[40%] bg-primary text-white border-r-4 border-white">
                                <p>GIOCATORE</p>
                            </th>
                            <th class="w-[15%] bg-secondary text-white border-r-4 border-white">
                                <p>MIN</p>
                            </th>
                            <th class="w-[15%] bg-secondary text-white border-r-4 border-white">
                                <p>PTS</p>
                            </th>
                            <th class="w-[15%] bg-secondary text-white border-r-4 border-white">
                                <p>REB</p>
                            </th>
                            <th class="w-[15%] bg-secondary text-white">
                                <p>AST</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="tabsSelected==='teamHome'">
                        <tr class="h-10 p-0" *ngFor="let player of matchStats.homeTeam.playersStatistics">
                            <td class="w-[40%] p-0 border-b-4 border-r-4 border-white">
                                <div class="flex flex-nowrap justify-center w-full">
                                    <div class="w-1/4 flex justify-center items-center bg-[#ACDEFF] border-r-4 border-white h-10">
                                        <p>23</p>
                                    </div>
                                    <div class="w-3/4 flex justify-center items-center bg-[#ACDEFF] h-10">
                                        <p>{{player.nome}}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="w-[15%] p-0 border-b-4 border-r-4 border-white bg-[#ACDEFF]">
                                <p class="text-center">{{player.min}}</p>
                            </td>
                            <td class="w-[15%] p-0 border-b-4 border-r-4 border-white bg-[#ACDEFF]">
                                <p class="text-center">{{player.points}}</p>
                            </td>
                            <td class="w-[15%] p-0 border-b-4 border-r-4 border-white bg-[#ACDEFF]">
                                <p class="text-center">{{player.totReb}}</p>
                            </td>
                            <td class="w-[15%] p-0 border-b-4 border-white bg-[#ACDEFF]">
                                <p class="text-center">{{player.assists}}</p>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="tabsSelected==='teamAway'">
                        <tr class="h-10 p-0" *ngFor="let player of matchStats.awayTeam.playersStatistics">
                            <td class="w-[40%] p-0 border-b-4 border-r-4 border-white">
                                <div class="flex flex-nowrap justify-center w-full">
                                    <div class="w-1/4 flex justify-center items-center bg-[#ACDEFF] border-r-4 border-white h-10">
                                        <p>23</p>
                                    </div>
                                    <div class="w-3/4 flex justify-center items-center bg-[#ACDEFF] h-10">
                                        <p>{{player.nome}}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="w-[15%] p-0 border-b-4 border-r-4 border-white bg-[#ACDEFF]">
                                <p class="text-center">{{player.min}}</p>
                            </td>
                            <td class="w-[15%] p-0 border-b-4 border-r-4 border-white bg-[#ACDEFF]">
                                <p class="text-center">{{player.points}}</p>
                            </td>
                            <td class="w-[15%] p-0 border-b-4 border-r-4 border-white bg-[#ACDEFF]">
                                <p class="text-center">{{player.totReb}}</p>
                            </td>
                            <td class="w-[15%] p-0 border-b-4 border-white bg-[#ACDEFF]">
                                <p class="text-center">{{player.assists}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="w-full" *ngIf="tabsSelected==='statics'">
                    <thead>
                        <tr class="h-10 border-b-4 border-white">
                            <th class="w-[20%] bg-secondary text-white border-r-4 border-white">
                                <p>{{matchStats.calendarioDateResponse.codeAway}}</p>
                            </th>
                            <th class="w-[60%] bg-secondary text-white border-r-4 border-white">
                                <p>STATISTICHE</p>
                            </th>
                            <th class="w-[20%] bg-secondary text-white">
                                <p>{{matchStats.calendarioDateResponse.codeHome}}</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="h-20 p-0" *ngFor="let _ of staticsToShow">
                            <td colspan="3" class="w-full p-0 border-b-4 border-white bg-[#ACDEFF]">
                                <div class="flex flex-col flex-wrap justify-around items-center">
                                    <p class="w-full text-center text-lg"></p>
                                    <div class="w-[80%] flex justify-center items-center flex-nowrap">
                                        <div class="w-[50%] flex justify-end bg-[#DCF1FF] rounded-l-full">
                                            <div [style.width.%]="functionCalculatePercentage(lato1, lato2, true)" class="bg-red-500 rounded-l-full">
                                                <p class="w-full text-center">{{ lato1 }}</p>
                                            </div>
                                        </div>
                                        <div class="w-[50%] flex justify-start bg-[#DCF1FF] rounded-r-full">
                                            <div [style.width.%]="functionCalculatePercentage(lato1, lato2, false)" class="bg-blue-500 rounded-r-full">
                                                <p class="w-full text-center">{{ lato2 }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>