<app-navbar></app-navbar>
<section>
    <div class="flex justify-center h-full">
        <div class="container flex justify-center h-full">
            <div class="w-full">
                <div class="w-full h-20 bg-primary flex justify-center items-center">
                    <h2 class=" text-white text-4xl font-bold">
                        PROFILO PERSONALE
                    </h2>
                </div>
                <div class="w-full h-6 bg-secondary"></div>
            </div>
        </div>
    </div>
    <div class="flex justify-center h-full">
        <div class="container flex justify-center h-full">
            <div class="w-[70%] flex flex-nowrap mt-20">
                <div class="w-[25%] h-full ">
                    <div class="w-[85%] bg-primary box-shadow-for-menu">
                        <ul>
                            <li class="p-5 text-2xl text-white font-bold hover:underline focus:underline">Profilo</li>
                            <li class="p-5 text-2xl text-white font-bold hover:underline focus:underline">Risultato Sondaggi</li>
                            <li class="p-5 text-2xl text-white font-bold hover:underline focus:underline">Notifiche</li>
                            <li class="p-5 text-2xl text-white font-bold hover:underline focus:underline">Amici</li>
                            <li class="p-5 text-2xl text-white font-bold hover:underline focus:underline">Preferiti</li>
                            <li class="p-5 text-2xl text-white font-bold hover:underline focus:underline">Impostazioni</li>
                        </ul>
                    </div>
                </div>
                <div class="w-[75%] h-full  flex flex-wrap justify-center items-center py-10">
                    <div class="h-[20vmin] w-[20vmin]">
                        <div class="h-[20vmin] w-[20vmin] rounded-full bg-gray-500">

                        </div>
                    </div>
                    <div class="mx-10 flex items-center">
                        <ul>
                            <li class="p-2 text-xl font-bold">Nome</li>
                            <li class="p-2 text-xl font-bold">Età</li>
                            <li class="p-2 text-xl font-bold">Sesso</li>
                            <li class="p-2 text-xl font-bold">Data di iscrizione</li>
                            <li class="p-2 text-xl font-bold">Badge</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="mt-20"></div>
<app-footer></app-footer>